OPENAI_API_KEY=sk-...
OPENAI_MODEL_NAME=gpt-4o
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# ChromaDB
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

LOG_LEVEL=INFO
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rag_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
